<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.zeng.servicedemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
            android:name=".SimpleStartedService"
            android:enabled="true"
            android:exported="false">
        </service>
        <service
            android:name=".SimpleIntentService"
            android:exported="false">
        </service>
        <service
            android:name=".SimpleBoundService"
            android:enabled="true"
            android:exported="false">
        </service>

        <activity android:name=".SimpleBoundServiceActivity">
        </activity>

        <service
            android:name=".IPC.MessengerService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.zeng.servicedemo.ACTION_BIND"/>
            </intent-filter>

        </service>

        <activity android:name=".IPC.MessengerLocalClientActivity">
        </activity>
    </application>

</manifest>